---
import ExperienceItem from './ExperienceItem.astro';

const Experience = [
    {
        date: "2024-2026",
        title: "Ingenieria en Software - Universidad Internacional de las Américas",
        description:
            "Actualmente cursando la carrera de Ingenieria en Software en la Universidad Internacional de las Américas, con fecha estimada de graduación en 2026",
    },
    {
        date: "2019-2021",
        title: "Diploma en Educacion Parauniversitaria en Electronica - Colegio Universitario de Cartago",
        description:
            "Completé un diploma en Educación Parauniversitaria con especialización en Electrónica, adquiriendo conocimientos fundamentales en circuitos electrónicos, programación lógica y habilidades técnicas relacionadas.",
    }
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        Experience.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
