---
import ExperienceItem from './ExperienceItem.astro';

const Experience = [
    {
        date: "2024-2026",
        title: "Bachelor Degree in Software Engineering - Universidad Internacional de las Américas",
        description:
            "Actuallyly pursuing a Bachelor's Degree in Software Engineering, focusing on software development, algorithms, and system design.",
    },
    {
        date: "2019-2021",
        title: "Diploma in Higher Education in Electronic  - Colegio Universitario de Cartago",
        description:
            "Completed a Diploma in Higher Education in Electronics, covering topics such as circuit design, microcontrollers, and embedded systems.",
    }
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        Experience.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
